<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
  <title>Iniciar sesion</title>
</head>
<body class="bg-zinc-200 h-screen px-4">
      <!-- preload -->
      <div id="preload" class="fixed hidden inset-0 items-center justify-center bg-black/50 z-[1000]">
        <div class="text-center">
          <div class="spinner">
          </div>
          <p class="text-white">CARGANDO</p>
        </div>
      </div>
  <!-- placeholder de barra de navegacion -->
  <nav id="navbar" class="fixed top-0 right-0 left-0 bg-[#006770] h-16"></nav>
  <!-- section body -->
  <section class="h-full pt-20 flex items-center justify-center">
    <!-- Login container -->
    <div class="bg-[#f3f4f6] flex rounded-2xl md:shadow-lg max-w-xl w-screen p-5 md:pl-0 justify-center items-center">
      <!-- form -->
      <div class="md:w-1/2 md:px-8 w-full">
        <h2 class="font-bold text-2xl text-black text-center mb-8 cursor-default">Iniciar sesion</h2>
        <form id="form" class="flex flex-col gap-4">
          <!-- Email -->
            <div class="flex flex-col gap-2">
              <input
              type="email" 
              id="email-input"
              name="email-input" 
              autocomplete="off" 
              placeholder="Email"
              class="p-2 rounded-xl border focus:outline-indigo-700 focus:outline-2 focus:outline"
              >
            </div>
          
          <!-- Contraseña -->
            <div id="div-pass" class="relative flex flex-col gap-2">
                <input
              type="password" 
              id="password-input" 
              name="password-input" 
              autocomplete="off"
              placeholder="Contraseña"
              class="p-2 rounded-xl border focus:outline-indigo-700 focus:outline-2 focus:outline"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" id="eye1" class="bi bi-eye cursor-pointer absolute top-1 right-3 translate-y-1/2" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
            </div>
            <h3 id="error-text" class="text-red-500"></h3>
          <!-- Button -->
          <button
            type="submit"
            id="form-btn"
            class=" bg-black rounded-lg font-bold text-white text-xl transition ease-linear hover:shadow-2xl hover:shadow-slate-800 hover:bg-black/80 duration-200 h-14 outline-none"
            >
            Ingresar
          </button>
        </form>
      </div>

      <!-- image -->
      <div class="md:block hidden w-1/2">
        <img class="rounded-2xl" src="/images/signup-img.jpg" alt="imagen para registro">
      </div>
      
    </div>
  </section>
  <script src="index.js"></script>
  <script src="../components/nav.js"></script>
  <script type="module" src="../components/notification.js"></script>
</body>
</html>