<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/facturas/index.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Home</title>
</head>
<body>
  <!-- placeholder de barra de navegacion -->
    <div id="navbar" class="animate__animated  animate__fadeInDown md:flex flex-col hidden fixed top-0 drop-shadow-lg left-0 items-center right-0 h-40 md:h-4 z-50 p-4"></div>
  






    
  <div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row lg:w-3/5 md:mx-auto px-4 gap-4 md:gap-8">
    <h1 class="text-slate-700 font-bold text-4xl md:text-7xl">CTRL Money</h1>
    <div class="flex flex-col gap-4 md:text-xl">
      <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ducimus veniam corrupti, amet dolorum adipisci saepe asperiores reprehenderit vel voluptas. Suscipit eos voluptate veniam quaerat ducimus exercitationem veritatis quidem minus!</p>
      <!-- buttons -->
      <div class="flex justify-around gap-4">
        <a class="bg-slate-600 py-2 px-4 rounded text-white font-bold  w-2/4 text-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300" href="/login">Login</a>
        <a class="bg-slate-800 py-2 px-4 rounded text-white font-bold w-2/4 text-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300" href="/signup" href="/signup">Registro</a>
      </div>
    </div>
  </div>




  <script src="../components/nav.js"></script>
</body>
</html>